
  .aboutButton{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.01em;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 1;
  }
  .aboutButton[data-open="true"] {
    background-color: #fad883;
    color:black;
  }
  .aboutButton[data-open="true"]:hover {
    background-color: #ffde8b;
  }
  .aboutButton[data-open="false"]:hover{
    color:black;
    background-color: #fad883;
    }
  

  .aboutContainer{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    min-width: 500px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.01em;
    z-index: 0;
}
.aboutImg{
    margin:30px;
    border-radius:50%;
    width: 500px;
    height: 500px;  
    object-fit: cover;
    object-position: 0 0;
}
.text{
  margin: auto 30px;
  margin-bottom:30px;
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  width: 500px;
  height: fit-content;
  }
