.footer{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    white-space: nowrap;
    z-index: 2;
    
}

.iconContainer{
    display: flex;
    justify-content: space-between;
    min-width: 220px;
}
.footer-icon{
    color:azure;
}
.footer-icon:hover, .footer-icon:active{
    color:#fad883;
}
.footer-copy-sign{
    position:absolute;
    bottom: 120px;
    background-color: black;
    color:#fad883;
    border-radius: 25px;
    height: fit-content;
   
}
.footer-copy-sign-text{
    margin:20px;
    font-size: 1.5rem;
    font-weight: 500;
    height: fit-content;

   
}