#root{
  box-sizing: border-box;
  cursor:default
}
.scene{
  margin: 0 auto;
  position:relative;
  height:800px;

}
.blank{
  height: 300px;
}
body {
  background-color: black;
  color: azure;
  font-family: 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  isolation: isolate;
}
.arrow{
  position:absolute;
  width:100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 140px;
  z-index: 2;
  text-align: center;
}

@media (max-width: 500px) {
  .scene {
     height: 500px;
      }
}
